<%= form_with(model: @comment, local: true) do |form| %>
  <h2>ツイート新規作成</h2>
  <div class="field">
    <%= form.label :ツイート内容%>
    <%= form.text_area :content%>
  </div>
  <div>
    <%= form.submit "ツイート確認画面へ"%>
  </div>
  <div>
    <%= link_to "ツイート一覧に戻る", comments_path %>
  </div>
<% end %>
